/* Header Style */
*{
     margin: auto;
     font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.primary-btn{
     border: none;
     border-radius: 5px;
     padding: 12px 25px;
     margin-top: 20px;
     color: rgb(1, 75, 136);
     font-weight: bolder;
}
header{
     background-image: url(../images/banner/banner3.png);
     background-size: cover;
     height: 110vh;
     width: 100%;
     color: white;
}
.header-container{
     text-align: right;
     width: 70%;
   padding: 350px;
}
.header-title{
     font-weight: 700;
     font-size: 55px;
     line-height: 80px;
}
.header-description{
     line-height: 80px;
     margin-top: 60px;
}